# requirements.txt

torch==2.3.1
pytorch-lightning==2.3.0
# transformers==4.41.2
transformers==4.42.3
peft==0.11.1
accelerate==0.31.0
wandb==0.16.1

# 데이터 처리 (Data Handling)
pandas==2.2.2
datasets==2.19.1
scikit-learn==1.4.2

# 데이터셋 의존성 (datasets dependencies - 충돌 해결)
dill<0.3.9,>=0.3.0
# fsspec==2024.6.1
fsspec==2024.3.1
multiprocess==0.70.16

# 한국어 처리 (Korean NLP)
konlpy==0.6.0
JPype1==1.5.0

# 기타 유틸리티 (Other Utilities)
tqdm==4.66.4
evaluate
rouge-score==0.1.2
omegaconf>=2.3.0 
openai
python-dotenv